/**
 * Normalize
 * Basically reset all CSS to standard setup
 */
@import 'normalize';

/**
 * Variables
 * All the customizable settings
 */
@import 'variables';
@import 'mixins';

/**
 * Bourbon
 * A super mixin library
 */
@import '../vendor/bourbon/app/assets/stylesheets/bourbon';

/**
 * Bitters
 * A type of normalize
 */
@import 'bitters/base';

/**
 * Neat
 * A grid library
 */
@import '../vendor/neat/app/assets/stylesheets/neat';


/**
 * Components
 */
@import 'components/base';
@import 'components/carousel';
@import 'components/columns';
@import 'components/icon-font';
@import 'components/gravity-form';
@import 'components/gallery';
@import 'components/list-group';
@import 'components/responsive-embed';
@import 'components/simple-share';
@import 'components/navbar';
@import 'components/content';
@import 'components/jumbotron';
@import 'components/footer';
@import 'components/wordpress';

/**
 * Shortcodes
 */
@import 'shortcodes/quote';
@import 'shortcodes/youtube';


/**
 * Pages
 */
@import 'pages/home';
@import 'pages/videos';
