/**
 * Normalize
 * Basically reset all CSS to standard setup
 */
@import 'normalize';

/**
 * Variables
 * All the customizable settings
 */
@import 'variables';
@import 'mixins';

/**
 * Bourbon
 * A super mixin library
 */
@import '../vendor/bourbon/app/assets/stylesheets/bourbon';

/**
 * Base
 * A type of normalize
 */
 @import 'base/typography';
 @import 'base/forms';
 @import 'base/tables';
 @import 'base/lists';

/**
 * Neat
 * A grid library
 */
@import '../vendor/neat/app/assets/stylesheets/neat';


/**
 * Components
 */
@import 'components/base';
@import 'components/btns';
@import 'components/cards';
@import 'components/icon-font';
@import 'components/gravity-form';
@import 'components/grid';
@import 'components/gallery';
@import 'components/list-group';
@import 'components/responsive-embed';
@import 'components/navbar';
@import 'components/content';
@import 'components/jumbotron';
@import 'components/footer';
@import 'components/wordpress';

/**
 * Shortcodes
 */
@import 'shortcodes/quote';
@import 'shortcodes/youtube';


/**
 * Pages
 */
