/**
 * Item shortcode
 */
@media(min-width: $screen-sm) {
	.items__container {
		display: table;
		border-collapse: separate;
		border-spacing: 30px 0;
	}
}

.items {

	[class*="col-"] {
		border-bottom: 1px solid $red;
	}

	@media(min-width: $screen-sm) {
		display: table-row;
		width: 100%;

		[class*="col-"] {
			display: table-cell;
			float: none;
			vertical-align: middle;
		}
		&:first-of-type {
			[class*="col-"] {
				padding-top: 0;
			}
		}
		&:last-of-type {
			[class*="col-"] {
				border-bottom: 0;
				padding-bottom: 0;
			}
		}
	}
}

.item {
	position: relative;
	padding: ($container-padding * 2) 0;

	.item__image {
		width: 70px;
		height: auto;
		margin-right: $container-padding;
		vertical-align: center;
		position: absolute;
		top: 50%;
		left: 0;
		@include transform(translateY(-50%));

		+ .item__content {
			margin-left: 80px;
		}
	}

	.item__content {
		h3 {
			margin-top: 0;
		}
		p {
			margin-bottom: 0;
		}

	}
}
