/**
 * List blogs shortcode
 */
.list-blogs {
	.list-blogs-post {
		border-top: 1px solid $gray;
		padding: 16px 0;
		p {
			color: $black;
			margin: 0;
		}
		&:first-child {
			padding-top: 0;
			border-top: 0;
		}
	}
}
