.btn {
	@include transition(all 0.2s ease-in-out);
	@include appearance(none);

	padding: 0.75em 1em;

	cursor: pointer;
	user-select: none;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	text-decoration: none;
	text-transform: uppercase;

	color: $white;
	border: none;
	border-radius: $base-border-radius;
	outline: none;
	background-color: $base-button-color;

	font-family: $base-font-family;
	font-weight: bold;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0,0,0,0);

	&:hover {
		color: white;
		background-color: $hover-button-color;
	}

	&:disabled {
		cursor: not-allowed;

		opacity: 0.5;
	}
}


.btn-block {
	display: block;
}

.btn-primary {
	display: block;

	background-color: $primary-color;

	&:hover {
		background-color: darken($primary-color, 15%);
	}
}

.btn-link {
	color: $primary-color;
	border: 0;
	background: #fff;

	&:hover,
	&:active,
	&.active {
		color: darken($primary-color, 5%);
		background: darken(#fff, 5%);
	}
}
