/**
 * Content
 */
.article-well,
.article-meta {
	margin-top: $container-padding;
	padding: $container-padding;

	font-size: 80%;
}
.article-well {
	background: lighten($white, 5%);
}
.article-meta {
	background: darken($white, 5%);

	> div {
		position: relative;

		padding-left: 1.5em;

		i {
			position: absolute;
			top: 4px;
			left: 0;
		}
	}
}

.article-lead {
	font-size: 1.25em;
	font-style: italic;
	line-height: 1.75em;
}
.article-pager {
	padding: 15px 0;

	list-style-type: none;

	.previous {
		float: left;
	}
	.next {
		float: right;
	}
}

main {
	section {
		padding: 0 0 40px;
	}
	.feature {
		background: $secondary-color;

		h2 {
			text-align: center;

			color: $primary-color;

			font-family: $sans-serif-font-family;
			font-weight: 300;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		a {
			font-weight: 300;
		}
	}
}
