@charset 'UTF-8';

@font-face {
	font-family: 'krivaten-icons';
	font-weight: normal;
	font-style: normal;

	src: url('../fonts/krivaten-icons.eot?#iefix') format('embedded-opentype'),
	url('../fonts/krivaten-icons.woff') format('woff'),
	url('../fonts/krivaten-icons.ttf') format('truetype'),
	url('../fonts/krivaten-icons.svg#krivaten-icons') format('svg');
	src: url('../fonts/krivaten-icons.eot');
}

@include font-face("krivaten-icons", "../fonts/krivaten-icons", $file-formats: eot woff ttf svg);

.icon:before {
	text-transform: none !important;

	font-family: 'krivaten-icons' !important;
	font-weight: normal !important;
	font-style: normal !important;
	font-variant: normal !important;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	speak: none;
}

[data-icon]:before {
	content: attr(data-icon);
}

.icon-align-justify:before {
	content: 'm';
}
.icon-archive:before {
	content: 'd';
}
.icon-book:before {
	content: 'e';
}
.icon-angle-down:before {
	content: 'f';
}
.icon-tags:before {
	content: 'l';
}
.icon-clock:before {
	content: 'p';
}
.icon-angle-left:before {
	content: 'q';
}
.icon-angle-right:before {
	content: 'r';
}
.icon-search-find:before {
	content: 'a';
}
.icon-blogger:before {
	content: 'b';
}
.icon-skype:before {
	content: 'c';
}
.icon-pinterest:before {
	content: 'g';
}
.icon-linked-in:before {
	content: 'h';
}
.icon-instagram:before {
	content: 'i';
}
.icon-houzz:before {
	content: 'j';
}
.icon-google-plus:before {
	content: 'k';
}
.icon-facebook:before {
	content: 'n';
}
.icon-twitter:before {
	content: 'o';
}
.icon-check-mark-circle:before {
	content: 'u';
}
.icon-delete-circle:before {
	content: 'v';
}
.icon-minus-circle:before {
	content: 'w';
}
.icon-plus-circle:before {
	content: 'x';
}
.icon-quote-left:before {
	content: 'y';
}
.icon-quote-right:before {
	content: 'z';
}
.icon-video-camera:before {
	content: 's';
}
