/**
 * Jumbotron
 */
.jumbotron {
	position: relative;

	padding: 30px 0;

	background: url(../img/jumbotron.jpg);

	.jumbotron-title {
		width: 100%;

		text-align: center;

		h1,
		p {
			color: $white;
		}
		h1 {
			text-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
			margin: 0;
		}
		p {
			font-size: 1.25em;
			font-style: italic;
		}
	}
	.home & {
		min-height: 500px;

		color: $primary-color;

		h1 {
			@include vertical-align();

			width: 100%;
		}
	}

	h1 {
		text-align: center;
		text-transform: lowercase;

		color: $white;

		font-size: 3em;
		font-weight: 300;

		span {
			font-weight: 700;
		}
	}

	@include media($screen-xs) {
		.home & {
			.jumbotron-title {
				@include vertical-align();
			}
		}
	}
	@include media($screen-sm) {
		h1 {
			font-size: 4.5em;
		}
	}
	@include media($screen-md) {
		.jumbotron-title {
			h1 {
				span {
					display: block;
				}
			}
		}
	}
}
