/**
 * Jumbotron
 */
.jumbotron {
	position: relative;

	padding: 30px 0;

	.jumbotron-title {
		width: 100%;

		text-align: center;

		h1,
		p {
			color: $red;
		}
		h1 {
			margin: 0;
		}
		p {
			font-size: 1.25em;
			font-style: italic;
		}
	}
	.home & {
		min-height: 400px;

		color: $primary-color;

		h1 {
			@include vertical-align();

			width: 100%;
		}
	}

	h1 {
		text-align: center;
		text-transform: lowercase;

		color: $white;

		font-size: 3em;
		font-weight: 300;

		span {
			font-weight: 700;
		}
	}

	@include media($screen-xs) {
		.home & {
			.jumbotron-title {
				@include vertical-align();
			}
		}
	}
	@include media($screen-sm) {
		.home & {
			min-height: 650px;
		}

		.jumbotron-title {
			padding-bottom: 50px;
		}

		h1 {
			font-size: 4.5em;
		}
	}
}
