/**
 * Navbar
 */
body {
	padding-top: $navbar-height-xs;

	@include media($screen-md) {
		padding-top: $navbar-height-md;
	}
}

.navbar {
	position: fixed;
	z-index: 1000;
	top: 0;

	width: 100%;
	min-height: $navbar-height-xs;

	border-bottom: 1px solid $green-dark;
	background: $green;
	text-decoration: none;

	font-family: $sans-serif-font-family;

	.container {
		position: static;
	}
	a {
		color: $primary-color;
	}

	.navbar-logo {
		position: absolute;
		top: ($navbar-height-xs - $navbar-logo-height-xs) / 2;
		left: 5px;

		text-transform: uppercase;

		line-height: ($navbar-height-xs - 10);

		img {
			width: $navbar-logo-width-xs;
			height: $navbar-logo-height-xs;
		}
	}

	.navbar-drawer-trigger {
		@include transition(color 0.2s ease-in-out);

		position: absolute;
		top: 0;
		right: 0;

		padding-right: 35px;

		color: $primary-color;
		background: transparent;
		height: $navbar-height-xs;
		// line-height: $navbar-height-xs;

		&:before,
		&:after {
			@include transition(all $timing-duration $timing-function);

			position: absolute;
			top: 0;
			left: 20px;

			font-family: $base-font-family;

			font-size: 0.75em;
			font-style: italic;
		}

		&:before {
			@include transform(translateX(0));

			content: 'open';

			opacity: 1;
		}

		&:after {
			@include transform(translateX(-30px));

			content: 'close';

			opacity: 0;
		}

		.icon {
			position: absolute;
			top: 10px;
			right: 2px;

			vertical-align: -15%;

			font-size: (4em / 3);
			line-height: (3em / 4);
		}
	}

	&.navbar-drawer-open {
		.navbar-drawer-trigger {
			&:before {
				@include transform(translateX(30px));

				opacity: 0;
			}
			&:after {
				@include transform(translateX(0));

				opacity: 1;
			}
		}

		.navbar-drawer {
			opacity: 1;
		}
	}

	.navbar-drawer {
		@include transition(all $timing-duration $timing-function);
		@include transform(translateZ(0));

		z-index: -1;

		overflow: hidden;

		height: 0;
		margin-top: $navbar-height-xs;

		opacity: 0;
	}

	.navbar-drawer-content {
		padding: 10px 0;

		border-top: 1px solid $green-dark;

		a {
			display: block;

			padding: 5px 15px;

			&:hover,
			&:active {
				color: $black;
			}
		}
	}

	.navbar-drawer-menu {
		ul {
			margin: 0;
			padding: 0;

			list-style-type: none;
		}

		li {
			height: a {
				@include transition(all 0.2s ease-in-out);

				display: block;

				padding: 5px 10px;

				background: rgba(darken($white, 10%), 0);
			}
		}
	}

	@include media($screen-md) {
		min-height: $navbar-height-md;

		border-bottom: 0;

		.container {
			position: relative;
			border-bottom: 1px solid $red;
			min-height: $navbar-height-md;
		}

		.navbar-header,
		.navbar-drawer {
			height: $navbar-height-md;
		}

		.navbar-logo {
			font-size: 1.5em;
			top: ($navbar-height-md - $navbar-logo-height-md) / 2;
			left: 0;
			z-index: 10;

			img {
				width: $navbar-logo-width-md;
				height: $navbar-logo-height-md;
			}
		}

		.navbar-drawer-trigger {
			display: none;
		}

		.navbar-drawer {
			top: 0;

			overflow: visible;
			margin-top: 0;

			opacity: 1;

		}

		.navbar-drawer-menu,
		.navbar-social-icons {
			position: absolute;
			top: 50%;

			li {
				a {
					display: inline-block;

					font-weight: bold;

					height: $navbar-height-md;
					padding: 0 15px;

					line-height: $navbar-height-md;
					text-transform: lowercase;
				}
				&.current-menu-item {
					a {
						color: $black;
					}
				}
				&:last-child {
					a {
						padding-right: 0;
					}
				}
			}
		}

		.navbar-drawer-content {
			border-top: 0;
		}
		.navbar-drawer-menu {
			@include transform(translateY(-50%));

			right: 0;

			li {
				display: inline-block;
			}
		}

		.navbar-social-icons {
			@include transform(translateY(-50%));

			right: 15px;

			text-align: center;

			a {
				font-size: 1em;
			}
		}
	}

	@include media($screen-lg) {
		.navbar-logo {
			top: floor(($navbar-height-md - $navbar-logo-height-lg) / 2);

			img {
				width: $navbar-logo-width-lg;
				height: $navbar-logo-height-lg;
			}
		}
	}
}
