fieldset {
	background: lighten($base-border-color, 10);
	border: $base-border;
	margin: 0 0 ($base-spacing / 2) 0;
	padding: $base-spacing;
}

input,
label,
select {
	display: block;
	font-family: $form-font-family;
	outline: none;

	@include placeholder {
		@include transition(opacity 0.2s ease-in-out);
		color: $form-placeholder-color;
		text-transform: lowercase;
		font-style: italic;
	}

	&:focus {
		@include placeholder {
			opacity: 0;
		}
	}
}

label {
	margin-bottom: $base-spacing / 4;

	&.required:after {
		content: "*";
	}

	abbr {
		display: none;
	}
}

textarea,
#{$all-text-inputs},
select[multiple=multiple] {
	@include box-sizing(border-box);
	@include transition(border-color);
	background-color: $form-background-color;
	border-radius: $form-border-radius;
	border: 1px solid $form-border-color;
	font-family: $form-font-family;
	margin-bottom: $base-spacing / 2;
	padding: ($base-spacing / 3) ($base-spacing / 3);
	width: 100%;

	&:hover {
		border-color: $form-border-color-hover;
	}

	&:focus {
		border-color: $form-border-color-focus;
		box-shadow: $form-box-shadow-focus;
		outline: none;
	}
}

textarea {
	resize: vertical;
}

input[type="search"] {
	@include appearance(none);
}

input[type="checkbox"],
input[type="radio"] {
	display: inline;
	margin-right: $base-spacing / 4;
}

input[type="file"] {
	padding-bottom: $base-spacing / 2;
	width: 100%;
}

select {
	margin-bottom: $base-spacing / 2;
	width: 100%;
	border: 1px solid transparent;
	padding-top: $base-spacing / 4;
	padding-bottom: $base-spacing / 4;
	-webkit-appearance: none;

	&:hover {
		border-color: $form-border-color-hover;
	}
	&:focus {
		border-color: $form-border-color-focus;
	}
}
