fieldset {
	margin: 0 0 ($base-spacing / 2) 0;
	padding: $base-spacing;

	border: $base-border;
	background: lighten($base-border-color, 10);
}

input,
label,
select {
	@include placeholder {
		@include transition(opacity 0.2s ease-in-out);

		text-transform: lowercase;

		color: $form-placeholder-color;

		font-style: italic;
	}

	display: block;

	outline: none;

	font-family: $form-font-family;

	&:focus {
		@include placeholder {
			opacity: 0;
		}
	}
}

label {
	margin-bottom: $base-spacing / 4;

	&.required:after {
		content: '*';
	}

	abbr {
		display: none;
	}
}

textarea,
#{$all-text-inputs},
select[multiple=multiple] {
	@include box-sizing(border-box);
	@include transition(border-color);

	width: 100%;
	margin-bottom: $base-spacing / 2;
	padding: ($base-spacing / 3) ($base-spacing / 3);

	border: 1px solid $form-border-color;
	border-radius: $form-border-radius;
	background-color: $form-background-color;

	font-family: $form-font-family;

	&:hover {
		border-color: $form-border-color-hover;
	}

	&:focus {
		border-color: $form-border-color-focus;
		outline: none;
		box-shadow: $form-box-shadow-focus;
	}
}

textarea {
	resize: none;
	height: 150px;
}

input[type='search'] {
	@include appearance(none);
}

input[type='checkbox'],
input[type='radio'] {
	display: inline;

	margin-right: $base-spacing / 4;
}

input[type='file'] {
	width: 100%;
	padding-bottom: $base-spacing / 2;
}

select {
	width: 100%;
	margin-bottom: $base-spacing / 2;
	padding-top: $base-spacing / 4;
	padding-bottom: $base-spacing / 4;

	border: 1px solid transparent;

	-webkit-appearance: none;

	&:hover {
		border-color: $form-border-color-hover;
	}
	&:focus {
		border-color: $form-border-color-focus;
	}
}
