table {
	@include font-feature-settings('kern','liga','tnum');

	width: 100%;
	margin: ($base-spacing / 2) 0;

	table-layout: fixed;

	border: 1px solid $base-border-color;
	border-collapse: collapse;
}

thead {
	background: darken($white, 5%);
}

th {
	text-align: left;

	border-bottom: 1px solid $base-border-color;

	font-weight: bold;
}

td {
	border-bottom: $base-border;
}

td,
th {
	padding: ($base-spacing / 2) ($base-spacing / 4);
}

tr,
td,
th {
	vertical-align: middle;
}
