body {
	@include font-feature-settings('kern','liga','frac', 'pnum');

	color: $base-font-color;
	background-color: $base-background-color;

	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;

	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 10px 0 5px;

	color: $primary-color;

	font-family: $header-font-family;
	font-weight: 300;
	line-height: $header-line-height;

	span {
		font-weight: 700;
	}
}

h1 {
	font-size: $h1-font-size;
}

h2 {
	font-size: $h2-font-size;
}

h3 {
	font-size: $h3-font-size;
}

h4 {
	font-size: $h4-font-size;
}

h5 {
	font-size: $h5-font-size;
}

h6 {
	font-size: $h6-font-size;
}

p {
	margin: 0 0 ($base-spacing / 2);
}

a {
	@include transition(color 0.1s linear);

	text-decoration: none;

	color: $base-link-color;

	&:hover {
		color: $hover-link-color;
	}

	&:active,
	&:focus {
		color: $hover-link-color;
		outline: none;
	}
}

hr {
	margin: $base-spacing 0;

	border-top: none;
	border-right: none;
	border-bottom: $base-border;
	border-left: none;
}

img,
picture {
	max-width: 100%;
	height: auto;
	margin: 0;
}

blockquote {
	margin: $base-spacing 0;
	padding: 0 ($base-spacing / 2);

	color: lighten($base-font-color, 15);

	&:before {
		position: absolute;
		top: 0;
		left: 0;

		content: 'y';

		opacity: 0.1;

		font-family: $icon-font-family;
		font-size: 3em;
		font-style: normal;
	}
}

cite {
	display: block;

	text-align: right;

	font-style: normal;

	&:before {
		content: '\2014 \00A0';
	}
}
