%button {
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	background-color: $base-button-color;
	border-radius: $base-border-radius;
	color: $white;
	font-weight: bold;
	line-height: 1;
	padding: 0.75em 1em;
	text-decoration: none;
	text-align: center;
	outline: none;

	&:hover {
		background-color: $hover-button-color;
		color: white;
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}
}
